body {
    background-color: #293132;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: white;
}

h1 {
    margin: 5px auto;
    font-size: 2.6em;
}

h2 {
    margin: 5px auto 10px auto;
}

header {
    display: flex;
    padding: 10px 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.grid-container {
    background-color: #547AA5;
}

.char-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    aspect-ratio: 1 / 1;
    max-height: 480px;
    margin: 0 auto;
}

.char {
    aspect-ratio: 1 / 1;
    max-width: 100px;
    min-width: 30px;
    margin: 10px;
    background-color: #A6E9E9;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    border-radius: 8px;
}

.char:hover {
    background-color: #7cc0c0;
}

.char.selected {
    background-color: #306a6a;
}

.word-space {
    background-color: black;
    color: white;
    min-height: 100px;
    display: grid;
    place-items: center;
    font-size: 2.4em;
    text-align: center;
}

.reset-btn {
    padding: 30px;
    background-color: #A6E9E9;
    color: black;
    margin: 5px;
    flex: 1 1 150px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-size: 1.8em;
    font-weight: bold;
}
.reset-btn:hover {
    background-color: #7cc0c0;
}

.submit-btn {
    padding: 30px;
    background-color: #51cfcf;
    color: black;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    font-size: 1.8em;
    font-weight: bold;
}
.submit-btn:hover {
    background-color: #42b0b0;
}

.submit-btn.free {
    padding: 30px;
    background-color: #51cfcf;
    color: black;
    margin: 5px;
    flex: 1 1 150px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-size: 1.8em;
    font-weight: bold;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.submit-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 5px;
    flex: 1 1 150px;
}

.name-input {
    margin: 10px auto;
}

.red {
    box-sizing: border-box;
    border: solid red;
}

.score-board {
    margin: 10px auto;
}

.score-row {
    display: flex;
}

.score-column {
    padding: 10px;
    margin: 5px;
    background-color: #A6E9E9;
    color: black;
    text-align: center;
    word-breaK:break-all;
    display: grid;
    place-items: center;

}

.header {
    color: white;
    background-color: #547AA5;
    font-weight: bold;
}

.score-name {
    width: 180px;
}

.score-score {
    width: 60px;
}

.score-word {
    width: 180px;
}

.btn-space {
    display: flex;
    flex-wrap: wrap;
}

.board-btn {
    aspect-ratio: 1 / 1;
    width: 50px;
    margin: 10px;
    background-color: #A6E9E9;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    border-radius: 8px;
}

.board-btn:hover {
    background-color: #7cc0c0;
}

.board-btn.selected {
    background-color: #306a6a;
}

.board-link {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    color: #A6E9E9;
    margin: 0 20px;
}

.board-link:hover {
    color: #7cc0c0;
}

#name-text {
    height: 1.4em;
    width: 8em;
    font-size: 1.5em;
}

.name-label {
    font-size: 1.5em;
    font-weight: bold;
}

.hidden {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 696px){
    .score-name {
    width: 120px;
    }

    .score-score {
        width: 50px;
    }

    .score-word {
        width: 120px;
    }
    .word-space {
        min-height: 70px;
    }
    .reset-btn {
        padding: 10px;
    }
    .submit-btn {
        padding: 10px;
    }
}