<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>SpellingPy - Leaderboards</title>
    <script>
        const url = "http://127.0.0.1:5000"

        async function populate() {
            let challNum;
            try {
                const response = await fetch(`${url}/challenges`);
                const body = await response.json();
                //console.log(response.status);
                //console.log(body);
                challNum = body.number;
                for (i=0;i<challNum - 1;i++) {
                    btnSpace.innerHTML += `<div id="challbtn-${i + 1}" class="board-btn noselect" onclick="getBoard(${i + 1})">${i + 1}</div>`;
                }
            }
            catch(err) {
                alert("Couldn't connect to server. Try again later.");
            }
        }

        async function getBoard(id) {
            const btns = document.getElementsByClassName("board-btn");
            for (let btn of btns) {
                btn.classList.remove("selected");
            }
            const challBtn = document.getElementById("challbtn-" + id);
            challBtn.classList.add("selected");
            try {
                let response = await fetch(`${url}/challenges/${id}`);
                let body = await response.json();
                //console.log(response.status);
                //console.log(body);

                wordSpace.innerText = `Challenge #${id} - ${body.date}\n${body.challenge.toUpperCase()}`;

                response = await fetch(`${url}/scores/${id}`);
                body = await response.json();
                //console.log(response.status);
                //console.log(body);
                //console.log(typeof body);
                //data = JSON.parse("body");
                //console.log(data);
                const leaderboard = eval("(" + body + ")").reverse();
                //console.log(leaderboard);
                scoreBoard.innerHTML = `
                    <div class="score-row">
                        <div class="score-name score-column header">Name</div>
                        <div class="score-score score-column header">Score</div>
                        <div class="score-word score-column header">Answer</div>
                    </div>
                `;
                for (let score of leaderboard) {
                    scoreBoard.innerHTML += `
                        <div class="score-row">
                            <div class="score-name score-column">${score.name}</div>
                            <div class="score-score score-column">${score.score}</div>
                            <div class="score-word score-column">${score.word}</div>
                        </div>
                    `;
                }
            }
            catch(err) {
                alert("Couldn't connect to server. Try again later.");
            }
        }
    </script>
</head>
<body>
    <div class="content">
        <h1>SpellingPy</h1>
        <h2>Leaderboards</h2>
        <header>
            <a class="board-link" href="/daily">Daily Challenge</a>
            <!--
            <br>
            <a class="board-link" href="/free">Free Play</a>
            -->
        </header>
        <div class="btn-space" id="btn-space"></div>
        <div class="word-space" id="word-space">⬆ Select challenge ⬆</div>
        <div class="score-board" id="score-board"></div>
    </div>
    <script>
        const scoreBoard = document.getElementById("score-board");
        const wordSpace = document.getElementById("word-space");
        const btnSpace = document.getElementById("btn-space");
        populate();
    </script>
</body>
</html>