<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>SpellingPy - Daily Challenge</title>
    <script>
        const url = "http://127.0.0.1:5000"
        //const url = "http://cwesticl.pythonanywhere.com"
        let answer = "";
        let challengeNum;

        async function populate() {
            try {
                const response = await fetch(`${url}/challenges`);
                const body = await response.json();
                //console.log(response.status);
                //console.log(body);
                if (response.json !== 200) {
                    const gameLetters = body.challenge.toUpperCase();
                    for (i=0;i<gameLetters.length;i++) {
                        charGrid.innerHTML += `<div id="char-${i}" class="char noselect" onclick="clickChar(${i})">${gameLetters[i]}</div>`;
                    }
                    if (localStorage.getItem("data")) {
                        const data = JSON.parse(localStorage.getItem("data"));
                        nameInput.value = data.name;
                    }
                }
                else {
                    alert("Couldn't connect to server. Try again later.");
                }
            }
            catch(err) {
                alert("Couldn't connect to server. Try again later.");
            }
        }

        function clickChar(id) {
            const charButton = document.getElementById("char-" + id);
            if (!charButton.classList.contains("selected")) {
                charButton.classList.add("selected");
                answer += charButton.innerText;
                renderAnswer();
            }
        }

        function renderAnswer() {
            wordSpace.innerText = answer;
        }

        function refresh() {
            answer = "";
            const chars = document.getElementsByClassName("char");
            for (let char of chars) {
                char.classList.remove("selected");
            }
            renderAnswer();
        }

        async function submit() {
            if (!nameInput.value) {
                nameInput.classList.add("red");
            }
            else if (answer) {
                content.innerHTML = `<h2>Submitting...</h2>`;
                let reqOptions = {
                    method: "POST",
                    headers: {
                    "Content-Type": 'application/json'
                    },
                    body : JSON.stringify({
                        name: nameInput.value,
                        word: answer,
                        challenge: challengeNum
                    })
                };
                //console.log(reqOptions);
                try {
                    const response = await fetch(`${url}/scores`,reqOptions);
                    const body = await response.json();
                    //console.log(response.status);
                    //console.log(body);
                    if (response.status !== 200) {
                        content.innerHTML = `<h2>${body.message}</h2><h2>Try again later</h2>`;
                    }
                    else {
                        const data = {
                            name: nameInput.value,
                            challenge: challengeNum,
                            word: body.word,
                            score: body.score
                        };
                        localStorage.setItem("data", JSON.stringify(data));

                        formWord.value = body.word;
                        formScore.value = body.score;
                        formChall.value = challengeNum;
                        boardForm.submit();

                    }
                }
                catch (err) {
                    //console.log("Error connecting to game server!");
                    //console.log(err);
                    alert("Error connecting to game server!");
                }
            }
        }

        async function checkData() {
            try {
                const response = await fetch(`${url}/challenges`);
                const body = await response.json();
                //console.log(response.status);
                //console.log(body);
                if (response.json !== 200) {
                    challengeNum = body.number;
                    if (localStorage.getItem("data")) {
                        console.log("Data found");
                        //console.log(JSON.parse(localStorage.getItem("data")));
                        const data = JSON.parse(localStorage.getItem("data"));
                        //console.log(data.challenge);
                        //console.log(challengeNum);
                        if (data.challenge === challengeNum) {
                            //console.log("Challenge done");
                            formWord.value = data.word;
                            formScore.value = data.score;
                            formChall.value = data.challenge;
                            boardForm.submit();
                        }
                    }
                    else {
                        console.log("Data not found");
                    }
                }
                else {
                    alert("Couldn't connect to server. Try again later.");
                }
            }
            catch(err) {
                alert("Couldn't connect to server. Try again later.");
            }
        }
    </script>
</head>
<body>
    <div class="content" id="content">
        <h1>SpellingPy</h1>
        <h2>Daily Challenge</h2>
        <header>
            <a class="board-link" href="/boards">Leaderboards</a>
            <a class="board-link" href="/free">Free Play</a>
        </header>
        <div class="word-space noselect" id="word-space"></div>
        <div class="grid-container">
            <div class="char-grid" id="char-grid"></div>
        </div>
        <div class="btn-container">
            <div class="reset-btn noselect" onclick="refresh()">Reset</div>
            <div class="submit-container">
                <div class="name-input">
                    <label class="name-label" for="name-text">Name: </label>
                    <input id="name-text" name="name-text" type="text" maxlength="20">
                </div>
                <div class="submit-btn noselect" onclick="submit()">Submit</div>
            </div>
        </div>
    </div>
    <form action="/boards" method="POST" id="board-form" class="hidden">
        <input type="text" id="form-word" name="word">
        <input type="text" id="form-score" name="score">
        <input type="number" id="form-challenge" name="challenge">
    </form>
    <script>
        const content = document.getElementById("content");
        const charGrid = document.getElementById("char-grid");
        const wordSpace = document.getElementById("word-space");
        const nameInput = document.getElementById("name-text");
        const boardForm = document.getElementById("board-form");
        const formWord = document.getElementById("form-word");
        const formScore = document.getElementById("form-score");
        const formChall = document.getElementById("form-challenge");
        //console.log(JSON.parse(localStorage.getItem("data")));
        checkData();
        populate();
    </script>
</body>
</html>