<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>SpellingPy</title>
</head>
<body>
    <div class="content">
        <h1>SpellingPy</h1>
        <button action="/daily">Daily Challenge</button>
        <button action="/free">Free Play</button>
    </div>
</body>
</html>